<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>学生主页</title>
</head>
<body>
<h1>学生主页</h1>
<p><button onclick="window.location.href='info/'">个人信息</button></p>
<p><button onclick="window.location.href='course/'">课程信息</button></p>
<p><button onclick="window.location.href='contact/'">私信联系</button></p>
<p><button onclick="window.location.href='downloads/'">下载记录</button></p>
<p><button onclick="window.location.href='/logout/account={{ account }}'">退出登录</button></p>
</body>
</html>