<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>课程管理</title>
</head>
<script>
    function update() {
        document.getElementById("number").value = "123";
        document.getElementById("name").value = "2312";
        document.getElementById("score").value = 2;
    }
</script>
<body>
<h1>课程管理</h1>
<form action="" method="post">
    <p>课程编号<input type="text" name="cour_number" ></p>
    <p>课程名称<input type="text" name="cour_name"></p>
    <p>课程学分<input type="number" name="cour_score"></p>
    <p>
        <button name="confirm" type="submit" value="添加">添加</button>
        <button name="confirm" type="submit" value="更新">更新</button>
    </p>
</form>
<table border="1">
    <tr>
        <td>课程编号&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td>课程名称&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td>课程学分&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td>操作&nbsp;&nbsp;&nbsp;&nbsp;</td>
    </tr>
    {% for course in courses %}
        <tr>
            <td>{{ course[0] }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
            <td>{{ course[1] }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
            <td>{{ course[2] }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
            <td>
                <a href="delete_course/{{ course[0] }}">删除</a>
                <form action="add_to_course/{{ course[0] }}&teacher" method="post">
                    <input type="text" name="teac_number" placeholder="教工号">
                    <button type="submit">添加教师</button>
                </form>
                <form action="add_to_course/{{ course[0] }}&student" method="post">
                    <input type="text" name="stu_number" placeholder="学号">
                    <button type="submit">添加学生</button>
                </form>
            </td>
        </tr>
    {% endfor %}
</table>
<p><button onclick="window.location.href='..'">返回</button></p>



</body>
</html>